# Ignorar archivos generados por la compilación y la ejecución
/build/
src/ECOFORGE/CONTROLADOR/DatabaseConnection.java

# Ignorar configuración sensible o específica del entorno
src/ECOFORGE/CONTROLADOR/DatabaseConnection.java
/dist/
